@page "/"

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sistema de ventas JONES</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet" type="text/css">


</head>


<div id="index">
    @*<h2><b>Le damos la bienvenida</b></h2>*@



    <AuthorizeView>
        <Authorized>
            <DashboardPowerBi />
        </Authorized>
        <NotAuthorized>
            <RedirectToLogin></RedirectToLogin>
        </NotAuthorized>
    </AuthorizeView>
</div>




<style>
    body {
        font-family: 'Nunito', sans-serif;
        background-color: whitesmoke; /* Dark background color */
        color: #fff; /* Light text color */
    }

    .jumbotron {
        padding: 2rem;
        border-radius: 15px;
    }

    .card {
        margin-bottom: 20px;
        background-color: ; /* Deep red wine color for card background */
    }

    .card-body {
        padding: 20px;
        color: #5e2129; /* Light text color for card content */
        border-radius: 10px;
    }

    .btn-circle {
        border-radius: 30px;
    }
</style>

@code {
}




